<div class="panel-body">
  <form [formGroup]="form" (ngSubmit)="search()">
    <div class="form-group col-sm-6">
      <label for="name">city</label>
      <input type="text" 
              [(ngModel)]="name"
              name="name"
              class="form-control" 
              formControlName="name">                   
    </div>
    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-success">Add city</button>
    </div>
  </form>
</div>
<p *ngIf="showMsg">{{city.name}} a bien été ajouté à vos widget</p>
